micronaut:
  application:
    name: veiculoService

datasources:
  default:
    url: jdbc:postgresql://localhost:5432/veiculodb
    driverClassName: org.postgresql.Driver
    username: veiculodb
    password: 'veiculodb'
    schema-generate: CREATE_DROP
    dialect: POSTGRES

jpa:
  default:
    properties:
      hibernate:
        hbm2ddl:
          auto: update
        show_sql: true
        format_sql: true
        
consul:
  client:
    registration:
      enabled: true
    default-zone:
      - localhost:8500